
.row:first-child{
    font-weight: bold;
    text-align: center;
}
 IonGrid {
    font-size: 1vw;
  }
.col{
  word-wrap: break-word;
  border-color: black; 
  border-width: .01em; 
  border-style:solid; margin-bottom : -1px;
}
.scroll {
    height:500px;
    overflow: scroll;
    overflow-x: hidden;
}
img { width:25px;}
.country_sel {
    margin-left: 20px;
}
